{
  // Extend existing configuration
  // from ESlint and eslint-plugin-react defaults.
  "extends": [
    "airbnb"
  ],
  // Enable ES6 support. If you want to use custom Babel
  // features, you will need to enable a custom parser
  // as described in a section below.
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "jest": true
  },
  "ecmaFeatures": {
    "jsx": true,
    "es6": true,
    "classes": true
  },
  // Enable custom plugins
  "plugins": [],
  "rules": {
    "arrow-body-style": [
      0
    ],
    "arrow-parens": 0,
    "comma-dangle": [
      0,
      "always-multiline"
    ],
    "consistent-return": 0,
    "func-names": 0,
    "eol-last": 0,
    "import/no-dynamic-require" : 0,
    "import/no-unresolved": [
      0
    ],
    "import/prefer-default-export": 0,

    "indent": ["error", 4, {"SwitchCase": 1}],
    "keyword-spacing": 0,
    "max-len": [
      1,
      180,
      4
    ],
    "no-else-return": 0,
    "no-mixed-operators": 0,
    "no-plusplus": 0,
    "no-shadow": 0,
    "no-use-before-define": ["error", { "functions": false, "classes": true }],
    "no-underscore-dangle": 0,
    "object-curly-spacing": 0,
    "react/jsx-indent": ["error", 4],
    "react/jsx-no-bind": [
      0
    ],
    "react/jsx-filename-extension": 0

  }
}
